MC_ROUTER_ACCEPT_MINECRAFT_EULA=FALSE
VOICECHAT_TOKEN_HUB=replace-with-a-random-hub-token
VOICECHAT_TOKEN_SURVIVAL=replace-with-a-random-survival-token
MC_ROUTER_VOICECHAT_RCON_PASSWORD=replace-with-a-local-rcon-password
